<%
  options = {
    exact: defined?(exact) ? exact : false,
    class: "group flex gap-x-3 rounded-md p-2 text-sm/6 font-semibold hover:bg-gray-50 hover:text-primary-600 text-gray-700",
    active_class: "group flex gap-x-3 rounded-md p-2 text-sm/6 font-semibold hover:bg-gray-50 hover:text-primary-600 bg-gray-50 text-primary-600",
  }
%>
<%= active_link_to path, options do %>
  <% if defined?(initials) && initials.present? %>
    <span class="flex size-6 shrink-0 items-center justify-center rounded-lg border border-gray-200 bg-white text-[0.625rem] font-medium text-gray-400 group-hover:border-primary-600 group-hover:text-primary-600"><%= initials %></span>
  <% elsif defined?(icon) && icon.present? %>
    <%= svg_icon icon, class: "size-6 text-gray-400 group-hover:text-primary-600" %>
  <% end %>
  <%= title %>
<% end %>
